/*----------- clear theme elements for Writing AI evaluation -------------*/

.course-details-content {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 0 50px 50px 50px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
}

.waf-textarea textarea {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    height: 300px;
    background-color: #fff;
}

.edu-btn {
    margin-top: 30px;

    &[disabled] {
        filter: saturate(30%);
        pointer-events: none;
    }
}

label {
    padding-left: 25px;
}

.sml-btn {
    height: 40px !important;
    line-height: 43px !important;
    margin-right: 15px;
    margin-top: 0px;
}

.custom-toggle-view {
    margin-bottom: 20px;

    button.inactive {
        filter: saturate(0.3);
        pointer-events: none;
    }
}

/* ----------------------------- */

.writing-evaluation-form {
    textarea[disabled] {
        background-color: rgb(240, 240, 240);
        cursor: not-allowed;
    }

    .incorrect,
    .deletion {
        border-bottom: 1px solid #ff585980;
        padding: 0 3px 0 0;
        display: inline;
        background: #ff585905;
    }
    .correct {
        border-bottom: 1px solid #00b18980;
        padding: 0 3px 0 0;
        display: inline;
        background: #00b18905;
    }
    .addition {
        border-bottom: 1px solid #edbe11;
        padding: 0 3px 0 0;
        display: inline;
        background: #edbe110f;
    }
    .nochange {
        display: inline;
        padding: 0 3px 0 0;
    }

    .view-inline {
        .incorrect,
        .deletion {
            text-decoration: line-through;
            color: #d98686;
        }

        .correct,
        .addition {
            font-weight: 500;
        }
    }

    .view-student,
    .view-corrected {
        .incorrect,
        .deletion {
            text-decoration: none;
            color: var(--color-body);
        }

        .correct,
        .addition {
            font-weight: 400;
        }
    }

    .feedback {
        .tab-wrapper {
            display: flex;
            margin: 0;
        }

        .tabs {
            flex-grow: 0;
            min-width: 210px;
            width: 330px;
            border-right: 1px solid #ddd;
        }

        .tab-link {
            display: block;
            padding: 10px;
            background-color: #f0f0f0;
            border: none;
            text-align: left;
            cursor: pointer;
            width: 100%;
            border-bottom: 1px solid #ddd;
        }

        .tab-link.active,
        .tab-link:hover {
            background-color: #ccc;
        }

        .tab-content {
            flex-grow: 1;
            padding: 20px;
        }

        .tab:not(.active) {
            display: none;
        }
    }

    .popper-tooltip {
        background: #fff;
        border-radius: 5px;
        padding: 10px;
        text-align: left;
        position: relative;
        visibility: hidden;
        border: 1px solid black;
        z-index: 999;
        max-width: 400px;

        &[data-show='true'] {
            visibility: visible;
        }

        &[data-popper-reference-hidden='true'] {
            visibility: hidden;
        }

        .popper-indicator {
            margin: 0;
            font-weight: 500;
        }

        .popper-body {
            border-bottom: 1px solid;
        }

        .popper-feedback {
            margin: 0;
            line-height: 14px;
            font-size: 12px;
            padding-top: 10px;
        }

        .popper-indication {
            font-weight: 500;
        }

        .popper-word {
            color: #d98686;
        }

        .popper-replace {
            color: #00b189;
        }
    }
}
