WORDPRESS_API_URL=https://platform.tstprep.com/wp/graphql
# NODE_TLS_REJECT_UNAUTHORIZED=0

OPENAI_SECRET_KEY=

DEPLOY_TO_GITHUB_PAGES=false


# Only required if you want to enable preview mode
# WORDPRESS_AUTH_REFRESH_TOKEN=
# WORDPRESS_PREVIEW_SECRET=
